/*.iml
/.idea
*.iml
build
out
/.gradle

.idea/libraries
.idea/codeStyles/Project.xml
.idea/*.xml
.idea/artifacts

auth-lib-servletfilter/.idea
auth-lib-servletfilter/.idea/uiDesigner.xml 
auth-lib-servletfilter/.gradle
auth-lib-common/.gradle/
auth-lib-common/.idea/
auth-lib-spring/.gradle/
auth-lib-spring/.idea/
