/*.iml
/.idea
*.iml
build
out
/.gradle

.idea/libraries
.idea/codeStyles/Project.xml
.idea/*.xml
.idea/artifacts

auth-lib-servletfilter-test-webapp/.*
auth-lib-servletfilter/.*
auth-lib-common/.*
auth-lib-spring/.*
