/*.iml
/.idea
*.iml
build
out
/.gradle

.idea/libraries
.idea/codeStyles/Project.xml
.idea/*.xml
.idea/artifacts

auth-lib-servletfilter/.idea
auth-lib-servletfilter/.idea/uiDesigner.xml 
auth-lib-servletfilter/.gradle
